.layout{
    grid-template-columns:  1fr 0.6fr 6fr 1fr;
    grid-template-rows: 1% 1fr 1fr 1fr 1%; 

    grid-template-areas: 
    ". header header header ."
    ". nav nav nav ."
    ". sidebar content1 content2 ."
    ". sidebar main main ."
    ". sidebar2 main2 main2 ."
    ". footer footer footer .";
}

header{
    background-color: hsl(27, 100%, 45%);
    text-align: center;
}

nav{
    font-size: 60px;
}

main{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    background-color: rgb(255, 255, 255);
}

.junker_queen{
    height: 50vh;
}

.roadhog{
    height: 50vh;
}

.junkerDiv{
    font-size: 20px;
}

.roadhogDiv{
    font-size: 20px;
}