.layout{
    display: grid;
    max-height:  100vh;
    /* grid-auto-rows: minmax(100px, auto); */
    grid-template-rows:  1fr 0.6fr 6fr 1fr;
    grid-template-columns: 1% 2fr 1fr 1fr 1%; 

    grid-template-areas: 
    ". header header header ."
    ". nav nav nav ."
    ". sidebar content1 content2 ."
    ". footer footer footer .";
}

header{
    text-align: center;
    grid-area: header;
    background-color: hsl(27, 100%, 45%);
}

nav{
grid-area: nav;
}

.bar ul{
    list-style-type: none;
    background-color: hsl(27, 100%, 45%);
    padding: 3px;
    margin: 0;

    overflow: hidden;
}

.bar a{
    color: rgb(235, 235, 235);
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
}

.bar a:hover{
    background-color:rgb(34, 44, 131); 
    transition: 0.6s;
}

.bar li{
float: left;
}


